<div class="container">
  <div class="row">
    <aside class="col-6 align">
      <%= render partial: 'user'%>
    </aside>
    <section class="col-6">
        <%= render partial: 'userPlace'%>
    </section>
  </div>
</div>
