<footer class="center" >
    <hr>
    © 2017 Joanne Cabling
    <div>
      <a class="footer-links" href="/about">About</a> |
      <a class="footer-links" href="https://github.com/jojobeth1/kiddo" target="blank">Let's Go, Kiddo on Github</a>
    </div>
  </div>
</footer>
