<div class="container">
  <h1>About Me</h1>
  <p class="about-p">
    <img src="/assets/images/about.png" class="about-pic"/>Born and raised in the SF Bay area, Joanne was a graphic designer for ten years before transitioning to a web developer. She is creative at heart and loves photography and art. She started Let's Go, Kiddo! because she wanted to find other places to take her child.You can usually find her hacking away on her laptop.
  </p>
</div>
