<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-4">

        <div class="container">
          <h1>Rain or shine, families can have a great time! </h1>
          <p>Tired of the same old places you take your family? Look up places of interest for your childrenn "Let's Go, Kiddo!"
          </p>
        </div>


    </div>

    <div class="col-8">
        <%= render partial: 'signup'%>
    </div>
  </div>
</div>
