

<div class="container-fluid">
<div class="row">
  <div class ="col-3">
    <section class="insight">
      <h1>Whether rain or shine, families can have a great time! </h1>

      <p><a href="/about">About</a>. Tired of the same old places you take your family? Look up places of interest for your childrenn "Let's Go, Kiddo!"
      </p>
    </section>
  </div>
  <div class="col-6">
    
    <%= render partial: 'signup'%>
  </div>
  <div class="col-3">

  </div>
</div>
</div>
